.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
}

.Repas, .Recette{
    /* background-image: url("backgroundimage.png"); */
    background-repeat: no-repeat;
    padding: 50px 20px;
opacity: 0.8;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    padding: 20px 18px;
    font: 16px Arial sans-serif;
    font-weight: bold;
    margin-top: 9px;
}